{# ./templates/default/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Application</title>
</head>
<body>
<table>
    <tr>
        <td style="width: 200px">Product name</td>
        <td style="width: 200px">Price</td>
        <td style="width: 200px">Product Image</td>
        <td style="width: 200px">Product Supplier</td>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.name }} </td>
            <td>{{ product.price }}</td>
            <td>{{ product.imagePath }}</td>
            <td>{{ product.fullName }}</td>
        </tr>
    {% endfor %}
</table>

<div class="navigation">
    {{ knp_pagination_render(products) }}
</div>
</body>
</html>